*{
  margin: 0;
  padding: 0;
}


.load-problem-page{
  margin-top: 10px;
  background-color : rgb(255, 255, 255); 
  height: 98vh;
  display: flex;
  flex-direction: column;
}

main {
  margin-top: 60px;
  /* background-color: yellow; */
  height: 95%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.problem-section{
  /* background-color: orange; */
  flex: 1;
  margin-right: 80px;
  margin-left: 15px;
  margin-bottom: 15px;
}


.problem-title{
  font-size: 28px;
  font-weight: bolder;
}

.problem-desc{
  text-align:justify;
  font-size: large;
  margin-top: 25px;
}
.input, .output{
  margin-top: 30px;
  vertical-align: middle;
}
.problem-inp,.problem-out{
  font-size: 20px;
  font-weight: bolder;
  display: inline;
 
}

.example{
  display: inline;
  font-size: 18px;
  margin-left: 15px;
}

.right-container{
  /* background-color: bisque; */
  flex: 1;
  display: flex;
  flex-direction: column;
}

.editor-section{
  /* background-color: brown; */
  flex: 1;
}

.testcase-section
{
  /* background-color: aqua; */
  flex: 1;
}
footer{
  /* background-color: purple; */
  display: fixed;
  bottom: 0;
  left: 0;
}

